.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    background-color: #fff;

    .search-icon {
        width: 20px;
        height: 20px;
        background-image: url("../../../public/searchIcon.png"); 
    }

    input {
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: 14px;
        background: transparent;
    }
}