.collapsible-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .header {
        display: flex;
        border-top: 1px solid #e4e5e8;
        border-bottom: 1px solid #e4e5e8;
        padding: 8px;
        background-color: #fff;

        button {
            color: #5A6D80;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            display: flex;
            flex: 1 1 auto;
            border: none;
            background-color: inherit;
            cursor: pointer;
        }

        .toggle-icon {
            flex: 0 0 1rem;
            background-repeat: no-repeat;
            background-position: center;

            &.open {
                background-image: url("../../../public/chevron-collapse.png");
            }
    
            &.closed {
                background-image: url("../../../public/chevron-expand.png");
            }
        }
    }
}